body{
    font-family: 'Open Sans', sans-serif;
}


div#aviso {
    width: 100%;
    background-color: #00a091;
    color: white;
    padding: 1px 4px 4px 4px;
}

a {
    text-decoration: none;
    color:#003d46;
}

a:hover{
    color: #bbc71d;
}