body{
    background-color: black;
    color: white;
}
table.list{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    
}
td.list, th.list{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
}
td.action{
    width: 2px;
}
h3.obrigatorio{
    color: lightcoral;
}
div#rodape{
    position: relative;
    top: 520px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border :1px solid rgb(255, 255, 255);
 }
div#formInserirInterna{
    width: 100%;
}   
h1{
    margin: 0;
}   
h3{
    margin: 0;
}
hr{
    margin: 0;
}
  
form#f1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 