/* index.html Pagina 01 */

/* Comentarios de Clientes */

div#grid-container {
    margin-top: 10px;
    display: flex;
    background-color: rgb(0, 0, 0);
}

.left, .middle, .right {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    float: left;
    width: 33.33%;
    margin: 15px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}