body{
    background-color: black;
    color: white;
}
table.list{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td.list, th.list{
    border: 1px solid gray;
    border-collapse: collapse;
}
td.action{
    width: 2px;
}
h3.obrigatorio{
    color: lightcoral;
}
div#formInserir{
    text-align: center;
    width: 100%;
}
div#formInserirInterna{
    display: inline-block;
}