body{
    font-family: inherit, 'Open Sans', sans-serif;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;    
}

/* Aviso Covid */ 
div#aviso {
    width: 100%;
    background-color: #363435;
    color: white;
    padding: 1px 4px 4px 4px;
    text-align: center;
    display: flex;
}

.AvisoEsquerda{
    width: 95.00%;
    float: left;
}

.AvisoDireita{
    width: 5.00%;
    float: left;
}

/* Slide de imagens */
.slide{     
    width:100%;
}

.botao-slide-esquerda{
    color: #fff!important;
    background-color: #363435!important;
    position: absolute;    
    top: 43%;
    left: 0%;
    transform: translate(0%,-50%);;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    
}
.botao-slide-direita{
    color: #fff!important;
    background-color: #363435!important;
    position: absolute;    
    top: 43%;
    right: 0%;
    transform: translate(0%,-50%);
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

/* Cabecalho, topo menu*/
div#cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #682A2C;
    color: white;
}
ul#BotoesMenu {
    list-style-type: none;
    padding: 15px;
    overflow: hidden;
    margin: 0px;
  }

li.Menu {
    display: inline;
    padding: 27px 10px 37px 10px;
    
}
a.Menu{
    text-decoration: none;
    color: white;
    padding: 27px 15px 37px 15px;
    
}

li.Menu:hover{
    display: inline;
    background-color: white;
    padding: 27px 15px 37px 15px;
}

li.Menu a:hover{
    text-decoration: none;
    color: black;  
    padding: 27px 15px 37px 15px;
}

/* Comentarios de Clientes */
div#grid-container{
    display: flex;
}
.left, .middle, .right{
    border-width: 1px;
    border-color: black;
    border-radius: 1px;
    float: left;
    width: 33.33%;
    padding: 25px;
}


/* Rodapé */
div#rodape {
    background-color: #682A2C;
    color: white;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

li.rodape {
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.rodape {
    padding: 0px;
    margin: 0px;
}
